<div class="container mt-5" style="max-width: 550px;">
    <h1>Employee Form</h1>
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="Serial Number">S.N.</label>
            <input type="text" formControlName="sn" class="form-control">
        </div> <br>

        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" formControlName="name">
            <div *ngIf="f['name']?.touched && f['name']?.invalid">
                <small class="text-danger" *ngIf="f['name'].errors?.['required']">
                  Name is required!
              </small>

            </div>
        </div> <br>

        <div class="form-group">
            <label for="code">Code</label>
            <input type="text" class="form-control" formControlName="code">
        </div> <br>

        <div class="form-group">
            <label for="joinedDate">Joined Date</label>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" class="form-control" id="joinedDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field><br>
        </div> <br>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" formControlName="email">
            <div *ngIf="f['email']?.touched && f['email']?.invalid">
                <small class="text-danger" *ngIf="f['email'].errors?.['required']">
                Email is required!
            </small>
            </div>
        </div> <br>

        <div class="form-group">
            <label for="gender">Gender</label><br>
            <select class="custom-select" formControlName="gender">
        <option *ngFor="let gender of genders">{{ gender }}</option>
      </select>
        </div> <br>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" class="form-control" formControlName="address">
        </div> <br>

        <div class="form-group">
            <label for="position">Position</label>
            <input type="text" class="form-control" formControlName="position">
        </div> <br>

        <div class="form-group">
            <label for="mobile">Mobile Number</label>
            <input type="tel" class="form-control" formControlName="mobile">
            <div *ngIf="f['mobile']?.touched && f['mobile']?.invalid">
                <small class="text-danger" *ngIf="f['mobile'].errors?.['required']">
              Mobile Number is required!
          </small>
            </div>

        </div><br>

        <button type="submit" class="btn btn-success">Submit</button><br><br>
        {{ employeeForm.value | json }}

    </form>