<!-- <app-hero-form></app-hero-form>
<app-employee-list></app-employee-list> -->
<app-header></app-header>
<!-- <h1>Employee Management System</h1> -->
<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarSupportContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a routerLink="/" routerLinkActive="active">Home</a><br>
                    <a routerLink="/employeelist" routerLinkActive="active">Employee List</a><br>
                    <a routerLink="/heroform" routerLinkActive="active">Employee form</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->

<div class="topnav">
    <a routerLink="/" routerLinkActive="active">Home</a><br>
    <a routerLink="/employeelist" routerLinkActive="active">Employee List</a><br>
    <a routerLink="/heroform" routerLinkActive="active">Employee form</a>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>